@import './NavBar.scss';
@import './HiddenMenu.scss';
@import './Form.scss';
@import './PageContent.scss';
@import './socialMedia.scss';
body {
    background-color: black;
    color: white;
    font-family: 'Righteous', cursive;
    @media (min-width: 1000px) {
        margin: 0 10vw 0 10vw;
        background-image: url(../images/backgrond_1920x1080.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: -20px;
    }
}

a {
    text-decoration: none;
    color: black;
}