@import './NavBar.scss';
@import './HiddenMenu.scss';
@import './Form.scss';
@import './PageContent.scss';
@import './socialMedia.scss';
body {
    background-color: black;
    color: white;
    font-family: 'Righteous', cursive;
    @media (min-width: 1000px) {
        margin: 0 10vw 0 10vw;
    }
}

a {
    text-decoration: none;
    color: black;
}