@import './NavBar.scss';
@import './HiddenMenu.scss';
@import './Form.scss';
@import './PageContent.scss';
@import './socialMedia.scss';
@import './Resume.scss';
body {
    background-color: black;
    color: white;
    font-family: 'Righteous', cursive;
    @media (min-width: 1000px) {
        margin: 0 10vw 0 10vw;
        // background-image: url(../images/backgrond_1920x1080.jpg);
        // background-repeat: no-repeat;
        // background-position-y: -430px;
        // background-position-x: -732px;
        // background-size: 190%;
        //background on pc
    }
}

a {
    text-decoration: none;
    color: black;
}