.hiddenMenu-container-container {
    display: flex;
    justify-content: center;
}

.hiddenMenu-container {
    width: 70vw;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

.hiddenMenu-elem {
    font-size: 30px;
    margin: 5vh 0 5vh 0;
    &:hover {
        color: green;
        cursor: pointer;
    }
}

.hide {
    display: none;
}

.hamburger-container {
    background-color: gray;
    height: 50px;
    padding: 0 5px 0 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hamburger-button-container {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-button:hover {
    cursor: pointer;
}