.navBar-container {
    background-color: white;
    height: 50px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 5px;
}

.navBar-name {
    font-size: 23px;
}

.navBar-form {
    font-size: 35px;
    color: gray;
    &:hover {
        transition: 0.3s;
        color: black;
        cursor: pointer;
    }
}