.socialMedia-container {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.socialMedia-elem {
    padding: 5vh 0 5vh 0;
}

.socialMedia-img {
    width: 300px;
    height: 200px;
    margin: 20px 0 20px 0;
    filter: grayscale(100%);
    transition: 0.4s;
    cursor: pointer;
    &:hover {
        filter: grayscale(20%)
    }
}