.socialMedia-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media(min-width: 1000px) {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }
}

.socialMedia-elem {
    width: 250px;
    height: 150px;
    margin: 50px 30px 50px 30px;
}

.socialMedia-img {
    width: 250px;
    height: 150px;
    filter: grayscale(100%);
    transition: 0.3s;
    cursor: pointer;
    border-radius: 3%;
    &:hover {
        filter: grayscale(20%);
        transform: scale(1.2);
    }
}