.navBar-container-right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cv {
    z-index: 2;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    @media (min-width: 1000px) {
        opacity: 0.5;
        transition: 0.3s;
        &:hover {
            opacity: 1;
        }
    }
}

@mixin forward {
    z-index: 0;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.en-flag {
    @include forward;
    animation-name: enFlag;
}

.en-flag-reverse {
    @include forward;
    animation-name: enFlag;
    animation-direction: reverse;
}

@keyframes enFlag {
    0% {
        position: relative;
        z-index: -1;
        right: -32px;
        opacity: 0;
    }
    100% {
        right: 0px;
        opacity: 1;
    }
}

.pl-flag {
    @include forward;
    animation-name: plFlag;
}

.pl-flag-reverse {
    @include forward;
    animation-name: plFlag;
    animation-direction: reverse;
}

@keyframes plFlag {
    0% {
        position: relative;
        z-index: -1;
        right: -60px;
        opacity: 0;
    }
    100% {
        right: 0px;
        opacity: 1;
    }
}

.hide-cv {
    display: none;
}